ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	color: #000;
}

li {
	font-size: 18px;
	margin: 10px;
	// font-weight: bold;
}

.card {
	padding: 30px;
	border-radius: 3px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
